/*GLOBAL
============================================= */

html,body {
	height:100%;     
	/*overflow-x: hidden;*/
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-weight: 100;
	font-family: 'Lato';
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    width: 40% !important;
}

.light-font {
	font-weight: lighter;
}

.padding-small{
	padding-bottom: 10px;
}

.padding-top-30{
  padding-top: 30px;
}

.form-control-feedback {
  top: 10px;
}

.img-table-view{
  height: 40px;
}

.inline-block{
  display: inline-block;
}

.upload-image #image.form-control {
	padding: 0 !important;
}
/* LOGIN PAGE 
============================================= */
.outer-layer {
	top: 0;
	min-width: 100%; 
  min-height: 100%;
	position: fixed; 
	background: rgba(0, 0, 0, 0.40);
}

.login-page {
	background-image: url("/images/landing_image.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

.login-logo h1{
	color: #FFFFFF;
	font-weight: 600;
	font-size: 40px;
}

.login-box{
  margin-top: 35%;
}

.login-box-body a {
	font-size: 16px;
	color: #FFFFFF;
}

.login-box-body p {
	font-size: 16px;
	color: #000;
}

.login-box-body{
  background: rgba(42, 25, 21, 0.65);
  color: rgb(255, 255, 255);
  padding: 50px;
  margin: 5rem 5rem 2.5rem 2.5rem;
	z-index: 1;
}

.text-red{
  color: #ff0000;
}

/* arrow of navigation items 
============================================= */
.sidebar-menu li>a>.fa-angle-right {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}

.sidebar-menu li.active>a>.fa-angle-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sidebar-menu li.active>a>.fa-angle-right {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: -7px;
}

.sidebar-menu .treeview-menu>li>a>.fa-angle-right, .sidebar-menu .treeview-menu>li>a>.fa-angle-down {
  width: auto;
}

table.dataTable thead > tr > th {
	padding-left: 9px;
	padding-right: 18px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	height: 180px;
}

/* Dashboard 
============================================= */
.product-img img {
  width: 40px !important;
  height: 40px !important;
}

.upcoming-box  .box-body {
  height: 339px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: auto;
  margin-bottom: 0px !important;
}

/* Image upload
============================================= */
.image-box {
	height: 150px;
	width: 280px;
  background-color: #fff;
	border: dotted 1px #111;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


.image-box i, .image-box-landscape i {
	margin-top: 4.125rem;
}
label input[type="file"] {
  position: fixed;
  top: -1000px;
} 

.admin-profile .image-box {
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #888;
  background-color: #fff;
}

label {
  max-width: initial;
}

.profile-image-container {
  margin-bottom: 10px;
  height: 150px;
  width: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; 
}

.image-box  span{
  color: #111 !important;
}

.bar {
	margin-top: 160px;
	height: 3px;
	background: #008D4C;
	opacity: 0.5;		
}

.image-box .fa-picture-o , .small-image-box .fa-picture-o, .header-image-box .fa-picture-o {
	margin-top: 4.125rem;
}

.small-image-box {
  position: relative;
	height: 150px;
	width: 120px;
  background-color: #FFF;
	border: dashed 2px #B7B7B7;
  border-radius: 8px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.header-image-box {
  position: relative;
	height: 150px;
	width: 300px;
  background-color: #FFF;
	border: dashed 2px #B7B7B7;
  border-radius: 8px;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.edit-affiliate-image {
	height: 150px;
	width: 280px;
}

.small-image-box span, .header-image-box span{
  color: #B7B7B7;
}

.image-row .col-md-4 {
  padding: 5px;
}

#table-affiliate td{
  line-height: 46px;
}

.delete-image {
  background-image: url(/images/remove.png);
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: contain;
  right: 4px;
  top: -22px;
}

.list-group {
  height: 288px;
  overflow-y: auto;
}

.list-group-item {
  padding: 5px 15px;
}
/*==============MEDIA===============*/
@media only screen and (max-width : 1300px) {
  .delete-image {
    right: 158px;
    top: -23px;
  }
}

@media only screen and (max-width : 768px) { /*iPad*/
  .delete-image {
    right: 158px;
    top: -23px;
  }
}

@media only screen and (max-width : 736px) { /*iPhone6*/
  .delete-image {
    right: 245px;
    top: -23px;
  }
}

@media only screen and (max-width : 414px ) { /*iPhone6*/
  .delete-image {
    right: 99px;
    top: -23px;
  }
}