/*GLOBAL
============================================= */
html,
body {
  min-height: 100%;
  height: 100%;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/Roboto-Medium.ttf);
}

body {
  font-family: "Roboto-Regular", Open Sans, Helvetica, Arial, sans-serif;
  line-height: 1.428;
  color: #000000;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto-Medium', 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.disabled {
  cursor: not-allowed !important; 
}

.datepicker .disabled {
  color: #EEE !important; 
}

.datepicker .old, .datepicker .new {
  visibility: hidden; 
}

.btn-flat {
  color: #000 !important;
  background-color: #ffffff !important;
  text-transform: inherit; 
  letter-spacing: 0px;
  padding: 5px 5px !important;
  font-size: 12PX;
}

.btn-flat:hover {
  color: #939393 !important;
}

.btn-default {
  background-color: #FFFC1F;
  border-color: #FFFC1F;
  color: #000 !important;
  padding: 10px 25px !important;
  margin: 15px 0px;
  text-transform: capitalize !important;
}

#mainNav #sign-up-modal-link:hover {
  color: #939393 !important;
}

.navbar-default .btn-default {
  margin: 6px 6px;
  margin-right: 15px;
}

.btn-default:hover, .btn-default:active, 
.btn-default:focus, .btn-default:disabled{
  background-color: #FFFC1F !important;
  color: #939393 !important;
}

.navbar-default .nav>li .act-links.active>a,
 .navbar-default .nav>li .act-links.active>a:focus {
  color: #000000;
}

.form-control {
  border-radius: 0px;
}

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

.remove-padding {
  padding-right: 0 !important;
}

header {
  background-position: inherit;
  height: 100%;
  width: 100%;
}

.main-footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
}
.navbar-box {
  padding-right: 0px;
  padding-left: 0px;
}

.text-red {
  color: red;
}

/*==============TRACKING ===============*/
.tracking-details {
  padding: 0px;
}

.tracking-details .header {
  padding: 20px;
  background-color: #2471A3;
  color: #FFF;
}

.tracking-details .header h3{
  color: #A9CCE3;
}

.tracking-details .comment-header {
  padding: 5px;
  background-color: #7FB3D5;
  color: #FFF;
}

.tracking-details .details td{
  padding: 15px 0;
}

/*==============WELCOME===============*/
.main-box {
  width: 100%;
  top: 35%;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.content-box {
  padding: 20px;
  min-height: 314px;
	background: rgba(102, 170, 255, 0.90); 
}

.content-box  .btn-default {
  margin: 15px 0px 0px 0px;
}

.start-planning {
  margin-top: 110px !important;
}

.select2-container--default .select2-selection--single {
  border-radius: 0px;
}

.select2-container .select2-selection--single {
  height: 48px;
  padding-top: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.main-box .plan-with-friends {
  margin-left: 80px;
}

.main-box .plan-with-friends p{
  margin-bottom: 10px;
}

.main-box h4 {
  margin-bottom: 25px;
}

.main-box .find-hotels {
  margin-left: 65px;
}

.main-box .find-hotels label{
  color: #FFF !important;
  font-weight: 500;
}

.lbl-holiday-type {
  padding-bottom: 10px;
}

.btn-hotel-tag.active {
  background-color: crimson !important;
  color: #FFF !important;
}

.hotel-search-loading img{
  margin-top: 15px;
}

/*==============USER LOGIN===============*/

.login-box{
	background:rgba(0,0,0,0.7);
	padding: 50px;
	border-top: 0;
	color: #000;
}


/*==============MEDIA===============*/
@media only screen and (max-width : 1300px) {
 
}

@media only screen and (max-width : 768px) {
  
}

@media only screen and (max-width : 736px) {

 
}

@media only screen and (max-width : 414px ) {
 
}